{% extends 'base.html' %}

{% block content %}


{% if zipcode %}

{{ zipcode }}

{% endif %}

{% if api %}
    {% if api == 'Error ...' %}
        There is an error, please try again.
    {% else %}
        <h1>Weather Quality </h1>
        <div class="container-fluid py-5 {{ category_color }}">
                <h1 class="display-5 fw-bold">{{ api.0.Category.Name }}</h1>
                <p class="col-md-8 fs-4">Location :  {{ api.0.ReportingArea }}
                    <br> Air Quality :  {{ api.0.AQI }}
                    <br> Date Observed :  {{ api.0.DateObserved }}
                </p>
        {{ category_description }}

        </div>
   {% endif %}

{% endif %}


{% endblock %}

